rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Check company scope
    function isValidCompany(companyId) {
      return companyId == 'mighty';
    }

    // Secure all Mighty company collections
    match /companies/{companyId} {
      allow read, write: if isValidCompany(companyId);

      match /{allChildren=**} {
        allow read, write: if isValidCompany(companyId);
      }
    }

    // Deny all other access
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
